<h1>Sign Up Confirmation</h1>
<p>Are you sure these values are correct?</p>

<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          Name: <%= @user.name %>
        </h4>
        <h4>
          Email: <%= @user.email %>
        </h4> 
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <p>
      <%= button_to "Yes", users_path(params), method: :post, class: 'btn btn-success pull-left' %>
      <%= link_to "No", new_user_path, class: 'btn btn-danger pull-right' %>
    </p>
  </div>
</div>